<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
</head>
<body>
    <header>
        <div id="branding">
            <div id="site-name"><a href="/">TBR Place</a></div>
        </div>
    </header>
    <main>
        <h2>You have been logged out</h2>
        <a href="{% url 'login' %}">Login again</a>
    </main>
</body>
</html>

