{% extends "base.html" %}

{% block title %}Create Thread{% endblock %}

{% block content %}
    <h1>Create Thread</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Thread title"><br>
        <select name="subcategory_id">
            {% for subcategory in subcategories %}
                <option value="{{ subcategory.id }}">{{ subcategory.name }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Create Thread</button>
    </form>
{% endblock %}
