{% extends 'base.html' %}
{% load static %}

{% block content %}
{#<header>#}
{#    <img src="{% static 'Logo_charcoal.png' %}" alt="Logo">#}
{#</header>#}
{#<main>#}
<div class="div03-prompts" id="prompts-section">
    <div class="div0301-predefprompts">
        <h2>Logout</h2>
        <p>You have been logged out. <a href="{% url 'login' %}">Login again</a></p>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{#</main>#}
{% endblock %}
