<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="reset-password-container">
        <h1>Reset Password for {{ username }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="new_password">New password:</label>
                <input type="password" id="new_password" name="new_password1" required>
            </div>
            <div class="form-group">
                <label for="confirm_new_password">Confirm new password:</label>
                <input type="password" id="confirm_new_password" name="new_password2" required>
            </div>
            <div class="form-group">
                <label for="new_secret_question">New secret question:</label>
                <input type="text" id="new_secret_question" name="new_secret_question" value="What is your favorite book?" required>
            </div>
            <div class="form-group">
                <label for="new_secret_answer">New secret answer:</label>
                <input type="text" id="new_secret_answer" name="new_secret_answer" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
