<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Question</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="security-question-container">
        <h1>Security Question</h1>
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>Secret Question: {{ secret_question }}</p>
            <label for="secret_answer">Secret answer:</label>
            <input type="text" id="secret_answer" name="secret_answer" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
