{% extends "base.html" %}
{% load static %}

{% block content %}
  <h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Literary Work</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>


  {% if form.instance.pk %}
    <!-- Markdown editor (SimpleMDE) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplemde@latest/dist/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/simplemde@latest/dist/simplemde.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var simplemde = new SimpleMDE({
          element: document.getElementById("id_content"),
          spellChecker: false,
          status: false,
          {#toolbar: false#}
        });

        // Ensure content is updated before form submission
        document.querySelector("form").addEventListener("submit", function() {
          document.getElementById("id_content").value = simplemde.value();
        });
      });
    </script>
  {% endif %}
{% endblock %}
