.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.literary-works-section {
    margin-top: 30px;
}

.literary-works-section ul {
    list-style-type: none;
    padding: 0;
}

.literary-works-section li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.literary-works-section h3 {
    margin: 0;
    font-size: 1.5em;
}

.literary-works-section p {
    margin: 5px 0;
}

#user-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#user-results div {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: calc(50% - 20px); /* Dva stĺpce */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#user-results img {
    max-width: 100px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin-bottom: 10px;
}

#user-results strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#user-results p {
    margin: 5px 0;
}



@media (max-width: 1200px) {
    #user-results div {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 992px) {
    #user-results div {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    #user-results {
        flex-direction: column;
    }

    #user-results div {
        width: 100%;
    }

    #user-results img {
        max-width: 80px;
        max-height: 120px;
    }
}

@media (max-width: 576px) {
    #user-results img {
        max-width: 60px;
        max-height: 90px;
    }

    #user-results strong {
        font-size: 1em;
    }

    #user-results p {
        font-size: 0.9em;
    }

    #pagination a {
        font-size: 0.9em;
    }
}

.pagination-container {
    margin-top: 20px;
    text-align: center;
}

.pagination-container button {
    margin: 0 5px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    cursor: pointer;
}

.pagination-container button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.pagination-container button:hover:not(:disabled) {
    background-color: #ddd;
}
